[openstack]
auth_url: https://dashboard.himlar.local:5000/v3
username: admin
password: admin_pass
project_name: openstack
default_domain: Default
keystone_cachain: /opt/himlar/provision/ca/certs/ca.cert.pem
