python-ldap
argcomplete
IPy
pyyaml
python-openstackclient
python-swiftclient
python-neutronclient
python-designateclient
python-glanceclient
gnocchiclient
statsd==3.2.1
pika
prettytable==0.7.2
PyMySQL
SQLAlchemy
# only needed for pylint
pylint
backports.functools_lru_cache
configparser
tweepy
tabulate
# needed for python-foreman
dulwich==0.19.16
setuptools==59.6.0
autosemver==0.5.4
python-foreman==0.4.20
