python-ldap
argcomplete
IPy
pyyaml
python-openstackclient
python-swiftclient
python-neutronclient
python-designateclient
python-glanceclient
python-novaclient
gnocchiclient
statsd==3.2.1
pika
sensu_go
prettytable==0.7.2
PyMySQL
SQLAlchemy
# only needed for pylint
pylint
backports.functools_lru_cache
configparser
tweepy
tabulate
# needed for python-foreman
dulwich==0.19.16
#setuptools==70.0.0 FIXME
autosemver==0.5.4
python-foreman==0.4.20
progressbar2
# needed to run request_specs.py - require python 3.9+
#nova==21.2.3
