---
desc:           'Send mail to users'
actions:
  'file':       'Send mail to all the users listed in a file'
  'instance':   'Get admins from instances'
  'project':    'Get admins from projects'
  'sendtoall':  'Send to all the users in the system'
opt_args:
  '--domain':
    'dest':     'domain'
    'help':     'openstack domain to use'
    'default':  'Dataporten'
  '--region':
    'sub':      ['instance']
    'dest':     'region'
    'help':     'only use this region'
  '-t':
    'dest':     'template'
    'help':     'mail body template file'
    'default':  'notify/mailto_all.txt'
  '--type':
    'sub':      ['project']
    'dest':     'type'
    'help':     'project type'
    'choices':  ['admin', 'demo', 'personal', 'research', 'education', 'course', 'test']
    'required': true
  '--filter':
    'sub':      ['project']
    'dest':     'filter'
    'help':     'filter by project type'
    'default':  'all'
    'choices':  ['all', 'admin', 'demo', 'personal', 'research', 'education', 'course', 'test']
