---
desc:   'Migate instances. Only use on hosts with shared storage! For local storage see aggregate.py'
actions:
  list:     'List instances for migration'
  migrate:  'Migrate instances from source host to specific target host'
  drain:    'Migrate instances from source host to any host'
  evacuate: 'Evacuate all instances from failed host'
opt_args:
  'source':
    'metavar':  'source'
    'help':     'Source host. Use either hostname or FQDN'
  'target':
    'sub':      ['migrate']
    'metavar':  'target'
    'help':     'Target host. Use either hostname or FQDN'
  '--limit':
    'sub':      ['migrate', 'drain', 'evacuate']
    'type':     int
    'dest':     'limit'
    'metavar':  '<int>'
    'help':     'number of instances to consider for migration before exit'
  '--sleep':
    'sub':      ['migrate', 'drain', 'evacuate']
    'dest':     'sleep'
    'metavar':  '<int>'
    'type':     int
    'help':     'number of seconds to sleep between instances'
    'default':  5
  '--no-disable':
    'sub':      ['migrate', 'drain']
    'dest':     'no_disable'
    'help':     'do not disable source hypervisor'
    'action':   'store_const'
    'const':    true
    'default':  false
  '--large':
    'sub':      ['migrate', 'drain']
    'dest':     'large'
    'help':     'only migrate large instances'
    'action':   'store_const'
    'const':    true
    'default':  false
  '--small':
    'sub':      ['migrate', 'drain']
    'dest':     'small'
    'help':     'only migrate small instances'
    'action':   'store_const'
    'const':    true
    'default':  false
  '--ram':
    'sub':      ['migrate', 'drain']
    'dest':     'filter_ram'
    'metavar':  '<int>'
    'type':     int
    'help':     'instance ram filter used by --large or --small options'
    'default':  16385
  '--aggregate':
    'sub':      'evacuate'
    'dest':     'aggregate'
    'help':     'host aggregate to evacuate'
    'default':  'central1'
  '--stopped':
    'sub':      ['migrate', 'drain']
    'dest':     'stopped'
    'help':     'only migrate stopped instances'
    'action':   'store_const'
    'const':    true
    'default':  false
  '--instance':
    'sub':      ['migrate', 'drain']
    'dest':     'instance'
    'help':     'Instance ID to migrate'
 
