---
desc:   'Project management for NREC'
actions:
  'list':            'List project. Use -f to filter result by project type'
  'show':            'Show all attributes for a project'
  'show-access':     'Show roles in project'
  'show-quota':      'Show quota for project'
  'create':          'Create a new project and grant admin access if valid user'
  'grant':           'Grant access to project for user.'
  'revoke':          'Revoke access to project for user.'
  'delete':          'Delete project and all resources'
  'instances':       'List of all instances in project'
  'extend':          'Change or set the endate for a project'
  'create-private':  'Create personal project'
  'quarantine':      'Add or remove quarantine on project'
  'access':          'Control project resource access'
  'access_list':     'List access to a specified resource'
#  'update': 'TODO'
opt_args:
  '--domain':
    'dest':     'domain'
    'help':     'openstack domain to use'
    'default':  'Dataporten'
  'project':
   'sub':       ['show', 'show-access', 'show-quota', 'create', 'grant', 'revoke', 'delete', 'instances', 'extend', 'quarantine', 'access']
   'metavar':   'project'
  'user':
   'sub':       ['create-private']
   'metavar':   'user'
  'resource':
   'sub':       ['access_list']
   'metavar':   'resource'
   'choices':   ['vgpu', 'shpc', 'shpc_ram', 'shpc_disk1', 'shpc_disk2', 'shpc_disk3', 'shpc_disk4', 'ssd', 'net_uib' ]
  '--region':
    'sub':      ['show', 'create', 'instances', 'show-access', 'show-quota', 'access']
    'dest':     'region'
    'help':     'specify region'
  '--end':
    'sub':      ['create', 'extend', 'create-private']
    'dest':     'enddate'
    'help':     'Set end date for projects. Argument is one of: "max" sets maximum end date (2 years from today). Exact date as "YYYY-MM-DD" or "DD.MM.YYYY". When extending an existing end date: "+<num>[ymd]" (e.g. "+1y" to extend for 1 year)'
    'default':  'max'
  '-f':
    'sub':      ['list']
    'dest':     'filter'
    'help':     'filter by project type'
    'default':  'all'
    'choices':  ['all', 'admin', 'demo', 'personal', 'research', 'education', 'vgpu', 'test', 'hpc']
  '-a':
    'sub':      ['create']
    'dest':     'admin'
    'help':     'email for admin user (can be non openstack user)'
    'required': true
  '-t':
    'sub':      ['create']
    'dest':     'type'
    'help':     'project type'
    'choices':  ['admin', 'demo', 'personal', 'research', 'education', 'course', 'test', 'hpc','vgpu']
    'required': true
  '--desc':
    'sub':      ['create']
    'dest':     'desc'
    'metavar':  'description'
    'help':     'project project description'
  '-o':
    'sub':      ['create']
    'dest':     'org'
    'help':     'Associated organization'
    'choices':  ['nrec', 'uio', 'uib', 'uit', 'ntnu', 'nmbu', 'vetinst', 'hvl']
    'required': true
  '--contact':
    'sub':      ['create']
    'dest':     'contact'
    'help':     'Contact email (mailing list)'
  '-q':
    'sub':      ['create', 'create-private']
    'dest':     'quota'
    'help':     'quota class'
    'choices':  ['small', 'medium', 'large','vgpu']
  '-u':
    'sub':      ['grant','revoke']
    'dest':     'users'
    'help':     'email of a valid openstack user (can be used multiple times)'
    'action':   'append'
    'required': true
  '--force':
    'sub':      ['create', 'delete', 'create-private']
    'dest':     'force'
    'help':     'skip interactive confirmation'
    'action':   'store_const'
    'const':    true
    'default':  false
  '--rt':
    'sub':      ['create', 'create-private', 'grant', 'revoke', 'extend']
    'dest':     'rt'
    'help':     'request tracker ticket number or link'
    'metavar':  'request tracker'
  '-m':
    'sub':      ['create', 'create-private', 'grant', 'revoke', 'quarantine', 'extend']
    'dest':     'mail'
    'help':     'Send an autogenerated mail to RT after creating a project. Send to RT and the user when granting access.'
    'action':   'store_const'
    'const':    true
    'default':  false
  '-n':
    'sub':      [ 'show-quota' ]
    'dest':     'service'
    'metavar':  'service type'
    'help':     'openstack service type'
    'choices':  ['all', 'nova', 'cinder', 'neutron']
    'default':  'all'
  '--list-org':
    'sub':      [ 'list' ]
    'dest':     'list_org'
    'help':     'List projects with this organization (all)'
    'default':  'all'
  '--list-type':
    'sub':      [ 'list' ]
    'dest':     'list_type'
    'help':     'List projects with this type (all)'
    'default':  'all'
  '--unset':
    'sub':      ['quarantine']
    'dest':     'unset_quarantine'
    'help':     'Unset quarantine for project'
    'action':   'store_const'
    'const':    true
    'default':  false
  '--reason':
    'sub':      ['quarantine']
    'dest':     'reason'
    'help':     'Reason for quarantine'
    'choices':  ['teppe', 'enddate', 'disabled-user']
  '--date':
    'sub':      ['quarantine']
    'dest':     'date'
    'help':     'Start date of quarantine in the past (YYYY-MM-DD). Default = today'
  '--quarantined':
    'sub':      ['list']
    'dest':     'quarantined'
    'help':     'List quarantined projects'
    'action':   'store_const'
    'const':    true
    'default':  false
  '--quarantined-before':
    'sub':      ['list']
    'dest':     'quarantined_before'
    'help':     'Narrow list by date (quarantined before: YYYY-MM-DD)'
  '--quarantined-after':
    'sub':      ['list']
    'dest':     'quarantined_after'
    'help':     'Narrow list by date (quarantined after: YYYY-MM-DD)'
  '--quarantined-reason':
    'sub':      ['list']
    'dest':     'quarantined_reason'
    'help':     'Narrow list by reason for quarantine'
    'choices':  ['all', 'teppe', 'enddate', 'disabled-user']
    'default':  'all'
  '--template':
    'sub':      ['quarantine']
    'dest':     'template'
    'help':     'Path to email template'
  '--grant':
    'sub':      ['access']
    'dest':     'grant'
    'help':     'Grant access to compute resource'
    'choices':  ['vgpu', 'shpc', 'shpc_ram', 'shpc_disk1', 'shpc_disk2', 'shpc_disk3', 'shpc_disk4', 'ssd', 'net_uib' ]
  '--revoke':
    'sub':      ['access']
    'dest':     'revoke'
    'help':     'Revoke access to compute resource'
    'choices':  ['vgpu', 'shpc', 'shpc_ram', 'shpc_disk1', 'shpc_disk2', 'shpc_disk3', 'shpc_disk4', 'ssd', 'net_uib' ]
  '--extend':
    'sub':      ['access']
    'dest':     'access_extend'
    'help':     'Set new end date for access to resource'
    'choices':  ['vgpu', 'shpc', 'shpc_ram', 'shpc_disk1', 'shpc_disk2', 'shpc_disk3', 'shpc_disk4', 'ssd', 'net_uib' ]
  '--until':
    'sub':      ['access']
    'dest':     'until'
    'help':     'Expiration date for compute resource, when granting access or extending'
  '--list':
    'sub':      ['access']
    'dest':     'access_list'
    'help':     'List resources access for project or specific resource'
    'action':   'store_const'
    'const':    true
    'default':  false
  '--tags-only':
    'sub':      ['access']
    'dest':     'tags_only'
    'help':     'Only change tags, do not touch actual resources'
    'action':   'store_const'
    'const':    true
    'default':  false
