---
desc: 'Publish status message to Slack, Twitter and Grafana'
actions:
  slack:    'Publish to Slack'
  twitter:  'Publish to Twittter'
  grafana:  'Publish to Grafana'
  all:      'Publish to Slack, Twitter and Grafana'
opt_args:
  '-t':
    'dest':     'template'
    'help':     'mesage body template file, eg. misc/notify_maintenance.txt'
    'required': True
  '-r':
    'dest':     'region'
    'help':     'Region to substitute $region in template (automatically uppercased)'
    'choices':  ['osl', 'bgo', 'tos']
  '-d':
    'dest':     'date'
    'help':     'Date to substitute $date in template (as written, will NOT be parsed!)'
    'choices':  ['osl', 'bgo', 'tos']
