---
# Use empty value for None
desc: 'Manage our users. Use <action> -h for help on each action'
actions:
  'list':     'List of users and show stats based on email domain'
  'show':     'Show user information'
  'delete':   'Delete user'
  'rename':   'Use this when user changes affiliation'
  'password': 'Reset API password for user'
  'create':   'Create a user new local API only user'
opt_args:
  '--domain':
    'dest':     'domain'
    'help':     'openstack domain to use'
    'default':  'Dataporten'
  'user':
    'sub':      ['show', 'password', 'delete', 'create']
    'help':     'username should be email addresses'
    'metavar':  'username'
  '--new':
    'sub':      'rename'
    'dest':     'new'
    'help':     'new user email (case sensitive)'
    'metavar':  'user'
    'required': true
  '--old':
    'sub':      'rename'
    'dest':     'old'
    'help':     'old user email (case sensitive)'
    'metavar':  'user'
    'required': true
  '-o':
    'sub':      'show'
    'dest':     'obj_type'
    'metavar':
    'help':     'user object type to show'
    'choices':   ['api', 'dataporten', 'group', 'projects']
    'default':  'projects'
  '-a':
    'sub':      'create'
    'dest':     'admin'
    'help':     'email to the FEIDE user responsible for the new local user'
    'metavar':  'admin'
    'required': true
  '--email':
    'sub':      'create'
    'dest':     'email'
    'help':     'email used for contact (otherwise same as username)'
    'metavar':  'email'
  '--desc':
    'sub':      'create'
    'dest':     'description'
    'help':     'user description'
  '--end':
    'sub':      'create'
    'dest':     'enddate'
    'help':     'set end date for projects (DD.MM.YY)'
