nodes:
  access-01:
    compute_profile: small
    compute_resource: controller-06
  api-01:
    compute_profile: small
    compute_resource: controller-06
  builder-01:
    compute_profile: medium
    compute_resource: controller-08
    compute_attributes:
      volumes_attributes:
        '1':
          allocation:   '0G'
          pool_name:    'dirpool'
          capacity:     '50G'
          format_type:  'qcow2'
    host_parameters_attributes:
      - name:           'installdevice'
        value:          'vda'
  cephmds-01:
    hostgroup: 15
    compute_profile: medium
    compute_resource: controller-05
  cephmds-02:
    hostgroup: 15
    compute_profile: medium
    compute_resource: controller-06
  cephmds-03:
    hostgroup: 15
    compute_profile: medium
    compute_resource: controller-07
  cephmon-01:
    hostgroup: 16
    mac: ec:f4:bb:cc:ce:f4
#  cephmon-01:
#    compute_profile: 2xlarge
#    compute_resource: controller-05
#    compute_attributes:
#      volumes_attributes:
#        '1':
#          allocation:   '0G'
#          pool_name:    'dirpool'
#          capacity:     '30G'
#          format_type:  'qcow2'
#    host_parameters_attributes:
#      - name:           'installdevice'
#        value:          'vda'
#  cephmon-02:
#    hostgroup: 1
#    mac: ec:f4:bb:cc:d1:54
  cephmon-02:
    hostgroup: 16
    mac: ec:f4:bb:cc:d1:54
  cephmon-03:
    hostgroup: 16
    mac: ec:f4:bb:cc:d0:9c
  cephmon-object-01:
    compute_profile: large
    compute_resource: controller-05
    hostgroup: 15
  cephmon-object-02:
    compute_profile: large
    compute_resource: controller-06
    hostgroup: 15
  cephmon-object-03:
    compute_profile: large
    compute_resource: controller-07
    hostgroup: 15
  compute-01:
    hostgroup: 3
    mac: ec:f4:bb:ce:21:84
  compute-02:
    hostgroup: 3
    mac: ec:f4:bb:cd:a0:94
  compute-03:
    hostgroup: 3
    mac: ec:f4:bb:cd:a0:2c
  compute-04:
    hostgroup: 3
    mac: 18:66:da:82:7e:a8
  compute-05:
    hostgroup: 3
    mac: 18:66:da:82:b5:49
  compute-06:
    hostgroup: 3
    mac: 18:66:da:82:be:7a
  compute-07:
    hostgroup: 3
    mac: 00:0a:f7:79:c5:df
  compute-08:
    hostgroup: 3
    mac: 00:0a:f7:79:c5:e3
  compute-09:
    hostgroup: 3
    mac: 00:0a:f7:82:54:23
  compute-10:
    hostgroup: 3
    mac: 00:0a:f7:79:c5:f3
  compute-alice-11:
    mac: 20:04:0f:ed:9a:7a
    hostgroup: 10
  compute-alice-12:
    mac: 20:04:0f:ed:6f:96
    hostgroup: 10
  compute-alice-13:
    mac: 20:04:0f:ed:67:b6
    hostgroup: 17
  compute-alice-14:
    mac: 20:04:0f:eb:e1:42
    hostgroup: 17
  compute-alice-15:
    mac: 20:04:0f:eb:e2:7e
    hostgroup: 10
  compute-alice-16:
    mac: 20:04:0f:ee:2c:82
    hostgroup: 10
  compute-alice-17:
    mac: 20:04:0f:eb:ee:e6
    hostgroup: 10
  compute-alice-18:
    mac: 20:04:0f:ed:9c:16
    hostgroup: 10
  compute-alice-19:
    mac: 20:04:0f:ed:6c:a6
    hostgroup: 10
  compute-alice-20:
    mac: 20:04:0f:ed:7e:5a
    hostgroup: 10
  compute-alice-21:
    mac: 20:04:0f:ed:6e:d2
    hostgroup: 10
  compute-alice-22:
    mac: 20:04:0f:ed:6d:66
    hostgroup: 10
  compute-alice-23:
    mac: 20:04:0f:ed:9c:0a
    hostgroup: 10
  compute-alice-24:
    mac: 20:04:0f:ed:67:e6
    hostgroup: 10
  compute-alice-25:
    mac: 20:04:0f:ec:05:26
    hostgroup: 10
  compute-alice-26:
    mac: 20:04:0f:ed:65:5a
    hostgroup: 10
  compute-alice-27:
    mac: 20:04:0f:ed:6d:5e
    hostgroup: 10
  compute-alice-28:
    mac: 20:04:0f:ed:67:aa
    hostgroup: 10
  compute-alice-29:
    mac: 20:04:0f:ed:7f:b6
    hostgroup: 10
  compute-alice-30:
    mac: 20:04:0f:ed:9a:a2
    hostgroup: 10
  compute-alice-31:
    mac: 20:04:0f:ed:6d:62
    hostgroup: 10
  compute-alice-32:
    mac: 20:04:0f:ed:99:fe
    hostgroup: 10
  compute-alice-33:
    mac: 20:04:0f:ed:6c:6e
    hostgroup: 10
  compute-alice-34:
    mac: 20:04:0f:ed:6c:9e
    hostgroup: 10
  compute-vgpu-35:
    mac: b0:26:28:f0:b4:58
    hostgroup: 16
  compute-clarino-36:
    mac: f4:02:70:d0:04:ee
    hostgroup: 14
  compute-clarino-37:
    mac: f4:02:70:cd:de:48
    hostgroup: 14
  compute-38:
    mac: dc:f4:01:e7:ea:2e
    hostgroup: 14
  compute-39:
    mac: dc:f4:01:e7:e9:f6
    hostgroup: 14
  compute-40:
    mac: dc:f4:01:e8:1f:92
    hostgroup: 14
  compute-epyc-41:
    mac: f4:02:70:d7:8b:3c
    hostgroup: 14
  compute-epyc-42:
    mac: f4:02:70:d7:8c:76
    hostgroup: 14
  compute-epyc-43:
    mac: f4:02:70:d7:8c:a2
    hostgroup: 14
  compute-epyc-44:
    mac: f4:02:70:d9:6b:da
    hostgroup: 16
  compute-epyc-45:
    mac: f4:02:70:d3:42:02
    hostgroup: 16
  compute-epyc-46:
    mac: f4:02:70:d7:8c:ea
    hostgroup: 16
  compute-epyc-47:
    mac: f4:02:70:d3:42:70
    hostgroup: 16
  compute-epyc-48:
    mac: f4:02:70:d3:42:0c
    hostgroup: 16
  compute-epyc-49:
    mac: f4:02:70:cd:da:de
    hostgroup: 16
  compute-epyc-50:
    mac: f4:02:70:cd:de:86
    hostgroup: 14
  compute-epyc-51:
    mac: f4:02:70:d0:04:e0
    hostgroup: 16
  compute-vgpu-52:
    mac: f0:d4:e2:e6:ae:d2
    hostgroup: 16
  compute-vgpu-53:
    mac: 34:48:ed:f9:59:c2
    hostgroup: 16
  compute-gpu1-54:
    mac: 34:48:ed:f9:5a:de
    hostgroup: 14
  compute-epyc-55:
    mac: 70:b5:e8:d0:b0:a8
    hostgroup: 16
  compute-epyc-56:
    mac: 70:b5:e8:d0:b3:00
    hostgroup: 16
  compute-epyc-57:
    mac: 70:b5:e8:d0:ab:e8
    hostgroup: 16
  compute-58:
    mac: 34:48:ed:f9:6c:02
    hostgroup: 14
  compute-59:
    mac: 34:48:ed:f9:61:8a
    hostgroup: 14
  compute-60:
    mac: 34:48:ed:f9:87:da
    hostgroup: 14
  console-01:
    compute_profile: medium
    compute_resource: controller-05
#  controller-02:
#    mac: ec:f4:bb:cc:d1:54
#  controller-03:
#    mac: ec:f4:bb:cc:d0:9c
#  controller-04:
#    mac: b0:83:fe:e8:3a:31
  controller-05:
    mac: dc:f4:01:e7:eb:fe
    hostgroup: 14
  controller-06:
    mac: dc:f4:01:e7:ee:4e
    hostgroup: 14
  controller-07:
    mac: dc:f4:01:e7:d8:32
    hostgroup: 14
  controller-08:
    mac: 34:48:ed:f7:8c:86
    hostgroup: 14
  dashboard-01:
    compute_profile: xlarge
    compute_resource: controller-06
  dashboard-mgmt-01:
    compute_profile: small
    compute_resource: controller-08
  db-global-01:
    compute_profile: small
    compute_resource: controller-06
  db-regional-01:
    compute_profile: xlarge
    compute_resource: controller-05
    compute_attributes:
      volumes_attributes:
        '1':
          allocation:   '0G'
          pool_name:    'dirpool'
          capacity:     '10G'
          format_type:  'qcow2'
  dns-01:
    compute_profile: small
    compute_resource: controller-05
  identity-01:
    compute_profile: medium
    compute_resource: controller-05
  identity-02:
    compute_profile: medium
    compute_resource: controller-06
  identity-03:
    compute_profile: medium
    compute_resource: controller-07
  image-01:
    compute_profile: medium
    compute_resource: controller-05
  image-02:
    compute_profile: medium
    compute_resource: controller-06
  image-03:
    compute_profile: medium
    compute_resource: controller-07
  logger-01:
    compute_profile: xlarge
    compute_resource: controller-08
    compute_attributes:
      volumes_attributes:
        '1':
          allocation:   '0G'
          pool_name:    'dirpool'
          capacity:     '250G'
          format_type:  'qcow2'
    host_parameters_attributes:
      - name:           'installdevice'
        value:          'vda'
  login-02:
    hostgroup: 15
    compute_profile: small
    compute_resource: controller-08
    compute_attributes:
      volumes_attributes:
        '1':
          allocation:   '0G'
          pool_name:    'dirpool'
          capacity:     '40G'
          format_type:  'qcow2'
    host_parameters_attributes:
      - name:           'installdevice'
        value:          'vda'
  metric-01:
    compute_profile: xlarge
    compute_resource: controller-05
    compute_attributes:
      volumes_attributes:
        '1':
          allocation:   '0G'
          pool_name:    'dirpool'
          capacity:     '20G'
          format_type:  'qcow2'
  monitor-01:
    compute_profile: large
    compute_resource: controller-08
    compute_attributes:
      volumes_attributes:
        '1':
          allocation:   '0G'
          pool_name:    'dirpool'
          capacity:     '20G'
          format_type:  'qcow2'
    host_parameters_attributes:
      - name:           'installdevice'
        value:          'vda'
  mq-01:
    compute_profile: xlarge
    compute_resource: controller-05
  nat-linux-01:
    compute_profile: small
    compute_resource: controller-05
  nat-linux-02:
    compute_profile: small
    compute_resource: controller-06
  nat-linux-03:
    compute_profile: small
    compute_resource: controller-07
  network-01:
    compute_profile: large
    compute_resource: controller-05
  network-02:
    compute_profile: large
    compute_resource: controller-06
  network-03:
    compute_profile: large
    compute_resource: controller-07
  novactrl-01:
    compute_profile: large
    compute_resource: controller-05
  novactrl-02:
    compute_profile: large
    compute_resource: controller-06
  novactrl-03:
    compute_profile: large
    compute_resource: controller-07
  ns-01:
    compute_profile: small
    compute_resource: controller-06
  object-ceph-01:
    mac: d0:94:66:09:0d:6c
    hostgroup: 16
  object-ceph-02:
    mac: d0:94:66:09:17:a7
    hostgroup: 16
  object-ceph-03:
    mac: d0:94:66:09:53:bc
    hostgroup: 16
  object-ceph-04:
    mac: d0:94:66:09:2a:b7
    hostgroup: 16
  object-ceph-05:
    mac: d0:94:66:09:41:d5
    hostgroup: 16
  proxy-01:
    compute_profile: small
    compute_resource: controller-08
    compute_attributes:
      volumes_attributes:
        '1':
          allocation:   '0G'
          pool_name:    'dirpool'
          capacity:     '50G'
          format_type:  'raw'
    host_parameters_attributes:
      - name:           'installdevice'
        value:          'vda'
  report-01:
    compute_profile: small
    compute_resource: controller-05
  resolver-01:
    compute_profile: small
    compute_resource: controller-07
  resolver-02:
    compute_profile: small
    compute_resource: controller-08
  rgw-01:
    compute_profile: medium
    compute_resource: controller-05
    hostgroup: 15
  sec-01:
    compute_profile: small
    compute_resource: controller-08
  status-01:
    compute_profile: small
    compute_resource: controller-06
  storage-01:
    mac: b0:83:fe:cd:64:7c
    hostgroup: 19
  storage-02:
    mac: b0:83:fe:cd:4b:39
    hostgroup: 19
  storage-03:
    mac: b0:83:fe:cd:61:3b
    hostgroup: 19
  storage-04:
    mac: b0:83:fe:cd:61:23
    hostgroup: 19
  storage-05:
    mac: b0:83:fe:cd:44:0f
    hostgroup: 19
  storage-v2d-06:
    mac: d0:94:66:19:c2:39
    hostgroup: 16
  storage-v2d-07:
    mac: d0:94:66:19:c1:eb
    hostgroup: 16
  storage-v2d-08:
    mac: b0:26:28:21:65:cc
    hostgroup: 16
  storage-v2d-09:
    mac: b0:26:28:21:6a:ca
    hostgroup: 16
  storage-dcache-10:
    mac: 20:04:0f:f4:75:a2
    hostgroup: 9
  storage-dcache-11:
    mac: 20:04:0f:f4:6f:fa
    hostgroup: 9
  storage-dcache-12:
    mac: 20:04:0f:f4:75:8e
    hostgroup: 9
  storage-dcache-13:
    mac: 20:04:0f:f4:6f:66
    hostgroup: 9
  storage-dcache-14:
    mac: 20:04:0f:f4:76:66
    hostgroup: 9
  storage-dcache-15:
    mac: 20:04:0f:f4:98:42
    hostgroup: 9
  storage-dcache-16:
    mac: 20:04:0f:f4:91:22
    hostgroup: 9
  storage-dcache-17:
    mac: 20:04:0f:f4:77:52
    hostgroup: 9
  storage-dcache-18:
    mac: 20:04:0f:f4:95:12
    hostgroup: 9
  storage-dcache-19:
    mac: 20:04:0f:f4:94:76
    hostgroup: 9
  storage-dcache-20:
    mac: 20:04:0f:ee:49:ee
    hostgroup: 9
  storage-dcache-21:
    mac: 20:04:0f:f4:78:0e
    hostgroup: 9
  storage-dcache-22:
    mac: 20:04:0f:f4:78:4e
    hostgroup: 9
  storage-dcache-23:
    mac: 20:04:0f:f4:78:1a
    hostgroup: 9
  storage-dcache-24:
    mac: 20:04:0f:f2:6c:22
    hostgroup: 9
  storage-dcache-25:
    mac: 20:04:0f:f4:96:0e
    hostgroup: 9
  storage-dcache-26:
    mac: 20:04:0f:f4:77:1e
    hostgroup: 9
  storage-dcache-27:
    mac: 20:04:0f:f4:77:2a
    hostgroup: 9
  storage-dcache-28:
    mac: 20:04:0f:f4:76:d2
    hostgroup: 9
  storage-dcache-29:
    mac: 20:04:0f:f4:94:02
    hostgroup: 9
  storage-dcache-30:
    mac: 20:04:0f:f4:76:d6
    hostgroup: 9
  storage-dcache-31:
    mac: 20:04:0f:f4:90:b2
    hostgroup: 9
  storage-dcache-32:
    mac: 20:04:0f:f4:78:2a
    hostgroup: 9
  storage-dcache-33:
    mac: 20:04:0f:f4:78:12
    hostgroup: 9
  storage-dcache-34:
    mac: 20:04:0f:f4:76:ca
    hostgroup: 9
  storage-v2d-35:
    mac: 20:04:0f:fb:a5:42
    hostgroup: 16
  storage-v2d-36:
    mac: 20:04:0f:fb:b2:c2
    hostgroup: 16
  storage-v2d-37:
    mac: 20:04:0f:fb:b3:5e
    hostgroup: 16
  storage-v2d-38:
    mac: 20:04:0f:fb:b3:5a
    hostgroup: 16
  storage-v2d-39:
    mac: 20:04:0f:fb:a5:46
    hostgroup: 16
  storage-v2d-40:
    mac: 34:48:ed:f9:84:d2
    hostgroup: 16
  storage-v2d-41:
    mac: 34:48:ed:f9:84:f2
    hostgroup: 16
  storage-v2d-42:
    mac: 34:48:ed:f9:5d:e2
    hostgroup: 16
  storage-v2d-43:
    mac: 34:48:ed:f9:58:b2
    hostgroup: 16
  telemetry-01:
    compute_profile: xlarge
    compute_resource: controller-05
  volume-01:
    compute_profile: large
    compute_resource: controller-05
  volume-02:
    compute_profile: large
    compute_resource: controller-06
  volume-03:
    compute_profile: large
    compute_resource: controller-07
