nodes:
  access-01:
    compute_profile: small
    compute_resource: controller-03
  api-01:
    compute_profile: small
    compute_resource: controller-01
  builder-01:
    compute_profile: medium
    compute_resource: controller-04
    compute_attributes:
      volumes_attributes:
        '1':
          allocation:   '0G'
          pool_name:    'masstorage'
          capacity:     '50G'
          format_type:  'qcow2'
    host_parameters_attributes:
      - name:           'installdevice'
        value:          'vda'
  cephmon-01:
    compute_profile: xlarge
    compute_resource: controller-01
  cephmon-02:
    compute_profile: xlarge
    compute_resource: controller-02
  cephmon-03:
    compute_profile: xlarge
    compute_resource: controller-03
  cephmon-object-01:
    compute_profile: large
    compute_resource: controller-01
  cephmon-object-02:
    compute_profile: large
    compute_resource: controller-02
  cephmon-object-03:
    compute_profile: large
    compute_resource: controller-03
  compute-01:
    hostgroup: 3
    mac: ec:f4:bb:ce:21:84
  compute-02:
    hostgroup: 3
    mac: ec:f4:bb:cd:a0:94
  compute-03:
    hostgroup: 3
    mac: ec:f4:bb:cd:a0:2c
  compute-04:
    hostgroup: 3
    mac: 18:66:da:82:7e:a8
  compute-05:
    hostgroup: 3
    mac: 18:66:da:82:b5:49
  compute-06:
    hostgroup: 3
    mac: 18:66:da:82:be:7a
  compute-07:
    hostgroup: 3
    mac: 00:0a:f7:79:c5:df
  compute-08:
    hostgroup: 3
    mac: 00:0a:f7:79:c5:e3
  compute-09:
    hostgroup: 3
    mac: 00:0a:f7:82:54:23
  compute-10:
    hostgroup: 3
    mac: 00:0a:f7:79:c5:f3
  compute-alice-11:
    mac: 20:04:0f:ed:9a:7a
    hostgroup: 10
  compute-alice-12:
    mac: 20:04:0f:ed:6f:96
    hostgroup: 10
  compute-alice-13:
    mac: 20:04:0f:ed:67:b6
    hostgroup: 10
  compute-alice-14:
    mac: 20:04:0f:eb:e1:42
    hostgroup: 10
  compute-alice-15:
    mac: 20:04:0f:eb:e2:7e
    hostgroup: 10
  compute-alice-16:
    mac: 20:04:0f:ee:2c:82
    hostgroup: 10
  compute-alice-17:
    mac: 20:04:0f:eb:ee:e6
    hostgroup: 10
  compute-alice-18:
    mac: 20:04:0f:ed:9c:16
    hostgroup: 10
  compute-alice-19:
    mac: 20:04:0f:ed:6c:a6
    hostgroup: 10
  compute-alice-20:
    mac: 20:04:0f:ed:7e:5a
    hostgroup: 10
  compute-alice-21:
    mac: 20:04:0f:ed:6e:d2
    hostgroup: 10
  compute-alice-22:
    mac: 20:04:0f:ed:6d:66
    hostgroup: 10
  compute-alice-23:
    mac: 20:04:0f:ed:9c:0a
    hostgroup: 10
  compute-alice-24:
    mac: 20:04:0f:ed:67:e6
    hostgroup: 10
  compute-alice-25:
    mac: 20:04:0f:ec:05:26
    hostgroup: 10
  compute-alice-26:
    mac: 20:04:0f:ed:65:5a
    hostgroup: 10
  compute-alice-27:
    mac: 20:04:0f:ed:6d:5e
    hostgroup: 10
  compute-alice-28:
    mac: 20:04:0f:ed:67:aa
    hostgroup: 10
  compute-alice-29:
    mac: 20:04:0f:ed:7f:b6
    hostgroup: 10
  compute-alice-30:
    mac: 20:04:0f:ed:9a:a2
    hostgroup: 10
  compute-alice-31:
    mac: 20:04:0f:ed:6d:62
    hostgroup: 10
  compute-alice-32:
    mac: 20:04:0f:ed:99:fe
    hostgroup: 10
  compute-alice-33:
    mac: 20:04:0f:ed:6c:6e
    hostgroup: 10
  compute-alice-34:
    mac: 20:04:0f:ed:6c:9e
    hostgroup: 10
  console-01:
    compute_profile: medium
    compute_resource: controller-03
  controller-01:
    mac: ec:f4:bb:cc:ce:f4
  controller-02:
    mac: ec:f4:bb:cc:d1:54
  controller-03:
    mac: ec:f4:bb:cc:d0:9c
  controller-04:
    mac: b0:83:fe:e8:3a:31
  dashboard-01:
    compute_profile: xlarge
    compute_resource: controller-02
  dashboard-mgmt-01:
    compute_profile: small
    compute_resource: controller-04
  db-global-01:
    compute_profile: small
    compute_resource: controller-02
  db-regional-01:
    compute_profile: xlarge
    compute_resource: controller-01
      volumes_attributes:
        '1':
          allocation:   '0G'
          pool_name:    'masstorage'
          capacity:     '10G'
          format_type:  'qcow2'
  dns-01:
    compute_profile: small
    compute_resource: controller-02
  identity-01:
    compute_profile: medium
    compute_resource: controller-01
  identity-02:
    compute_profile: medium
    compute_resource: controller-02
  identity-03:
    compute_profile: medium
    compute_resource: controller-03
  image-01:
    compute_profile: medium
    compute_resource: controller-01
  image-02:
    compute_profile: medium
    compute_resource: controller-02
  image-03:
    compute_profile: medium
    compute_resource: controller-03
  logger-01:
    compute_profile: xlarge
    compute_resource: controller-04
    compute_attributes:
      volumes_attributes:
        '1':
          allocation:   '0G'
          pool_name:    'masstorage'
          capacity:     '250G'
          format_type:  'qcow2'
    host_parameters_attributes:
      - name:           'installdevice'
        value:          'vda'
  metric-01:
    compute_profile: xlarge
    compute_resource: controller-01
  monitor-01:
    compute_profile: large
    compute_resource: controller-04
    compute_attributes:
      volumes_attributes:
        '1':
          allocation:   '0G'
          pool_name:    'masstorage'
          capacity:     '20G'
          format_type:  'qcow2'
    host_parameters_attributes:
      - name:           'installdevice'
        value:          'vda'
  mq-01:
    compute_profile: xlarge
    compute_resource: controller-01
  nat-linux-01:
    compute_profile: small
    compute_resource: controller-01
  nat-linux-02:
    compute_profile: small
    compute_resource: controller-02
  network-01:
    compute_profile: large
    compute_resource: controller-01
  network-02:
    compute_profile: large
    compute_resource: controller-02
  network-03:
    compute_profile: large
    compute_resource: controller-03
  novactrl-01:
    compute_profile: large
    compute_resource: controller-01
  novactrl-02:
    compute_profile: large
    compute_resource: controller-02
  novactrl-03:
    compute_profile: large
    compute_resource: controller-03
  ns-01:
    compute_profile: small
    compute_resource: controller-02
  object-ceph-01:
    mac: d0:94:66:09:0d:6c
    hostgroup: 7
  object-ceph-02:
    mac: d0:94:66:09:17:a7
    hostgroup: 7
  object-ceph-03:
    mac: d0:94:66:09:53:bc
    hostgroup: 7
  object-ceph-04:
    mac: d0:94:66:09:2a:b7
    hostgroup: 7
  object-ceph-05:
    mac: d0:94:66:09:41:d5
    hostgroup: 7
  proxy-01:
    compute_profile: small
    compute_resource: controller-04
    compute_attributes:
      volumes_attributes:
        '1':
          allocation:   '0G'
          pool_name:    'masstorage'
          capacity:     '50G'
          format_type:  'raw'
    host_parameters_attributes:
      - name:           'installdevice'
        value:          'vda'
  report-01:
    compute_profile: small
    compute_resource: controller-01
  resolver-01:
    compute_profile: small
    compute_resource: controller-03
  resolver-02:
    compute_profile: small
    compute_resource: controller-04
  rgw-01:
    compute_profile: medium
    compute_resource: controller-03
  status-01:
    compute_profile: small
    compute_resource: controller-02
  storage-01:
    mac: b0:83:fe:cd:64:7c
    hostgroup: 2
  storage-02:
    mac: b0:83:fe:cd:4b:39
    hostgroup: 2
  storage-03:
    mac: b0:83:fe:cd:61:3b
    hostgroup: 2
  storage-04:
    mac: b0:83:fe:cd:61:23
    hostgroup: 2
  storage-05:
    mac: b0:83:fe:cd:44:0f
    hostgroup: 2
  storage-v2d-06:
    mac: d0:94:66:19:c2:39
    hostgroup: 13
  storage-v2d-07:
    mac: d0:94:66:19:c1:eb
    hostgroup: 13
  storage-v2d-08:
    mac: b0:26:28:21:65:cc
    hostgroup: 13
  storage-v2d-09:
    mac: b0:26:28:21:6a:ca
    hostgroup: 13
  storage-dcache-10:
    mac: 20:04:0f:f4:75:a2
    hostgroup: 9
  storage-dcache-11:
    mac: 20:04:0f:f4:6f:fa
    hostgroup: 9
  storage-dcache-12:
    mac: 20:04:0f:f4:75:8e
    hostgroup: 9
  storage-dcache-13:
    mac: 20:04:0f:f4:6f:66
    hostgroup: 9
  storage-dcache-14:
    mac: 20:04:0f:f4:76:66
    hostgroup: 9
  storage-dcache-15:
    mac: 20:04:0f:f4:98:42
    hostgroup: 9
  storage-dcache-16:
    mac: 20:04:0f:f4:91:22
    hostgroup: 9
  storage-dcache-17:
    mac: 20:04:0f:f4:77:52
    hostgroup: 9
  storage-dcache-18:
    mac: 20:04:0f:f4:95:12
    hostgroup: 9
  storage-dcache-19:
    mac: 20:04:0f:f4:94:76
    hostgroup: 9
  storage-dcache-20:
    mac: 20:04:0f:ee:49:ee
    hostgroup: 9
  storage-dcache-21:
    mac: 20:04:0f:f4:78:0e
    hostgroup: 9
  storage-dcache-22:
    mac: 20:04:0f:f4:78:4e
    hostgroup: 9
  storage-dcache-23:
    mac: 20:04:0f:f4:78:1a
    hostgroup: 9
  storage-dcache-24:
    mac: 20:04:0f:f2:6c:22
    hostgroup: 9
  storage-dcache-25:
    mac: 20:04:0f:f4:96:0e
    hostgroup: 9
  storage-dcache-26:
    mac: 20:04:0f:f4:77:1e
    hostgroup: 9
  storage-dcache-27:
    mac: 20:04:0f:f4:77:2a
    hostgroup: 9
  storage-dcache-28:
    mac: 20:04:0f:f4:76:d2
    hostgroup: 9
  storage-dcache-29:
    mac: 20:04:0f:f4:94:02
    hostgroup: 9
  storage-dcache-30:
    mac: 20:04:0f:f4:76:d6
    hostgroup: 9
  storage-dcache-31:
    mac: 20:04:0f:f4:90:b2
    hostgroup: 9
  storage-dcache-32:
    mac: 20:04:0f:f4:78:2a
    hostgroup: 9
  storage-dcache-33:
    mac: 20:04:0f:f4:78:12
    hostgroup: 9
  storage-dcache-34:
    mac: 20:04:0f:f4:76:ca
    hostgroup: 9
  storage-v2d-35:
    mac: 20:04:0f:fb:a5:42
    hostgroup: 13
  storage-v2d-36:
    mac: 20:04:0f:fb:b2:c2
    hostgroup: 13
  storage-v2d-37:
    mac: 20:04:0f:fb:b3:5e
    hostgroup: 13
  storage-v2d-38:
    mac: 20:04:0f:fb:b3:5a
    hostgroup: 13
  storage-v2d-39:
    mac: 20:04:0f:fb:a5:46
    hostgroup: 13
  telemetry-01:
    compute_profile: xlarge
    compute_resource: controller-03
  volume-01:
    compute_profile: large
    compute_resource: controller-01
  volume-02:
    compute_profile: large
    compute_resource: controller-02
