nodes:
  access-01:
    compute_profile: small
    compute_resource: controller-06
  api-01:
    compute_profile: small
    compute_resource: controller-06
  builder-01:
    hostgroup: 15
    compute_profile: medium
    compute_resource: controller-08
    compute_attributes:
      volumes_attributes:
        '1':
          allocation:   '0G'
          pool_name:    'dirpool'
          capacity:     '120G'
          format_type:  'qcow2'
    host_parameters_attributes:
      - name:           'installdevice'
        value:          'vda'
  cephmds-01:
    hostgroup: 15
    compute_profile: medium
    compute_resource: controller-05
  cephmds-02:
    hostgroup: 15
    compute_profile: medium
    compute_resource: controller-06
  cephmds-03:
    hostgroup: 15
    compute_profile: medium
    compute_resource: controller-07
  cephmon-01:
    hostgroup: 16
    mac: ec:f4:bb:cc:ce:f4
#  cephmon-01:
#    compute_profile: 2xlarge
#    compute_resource: controller-05
#    compute_attributes:
#      volumes_attributes:
#        '1':
#          allocation:   '0G'
#          pool_name:    'dirpool'
#          capacity:     '30G'
#          format_type:  'qcow2'
#    host_parameters_attributes:
#      - name:           'installdevice'
#        value:          'vda'
#  cephmon-02:
#    hostgroup: 1
#    mac: ec:f4:bb:cc:d1:54
  cephmon-02:
    hostgroup: 16
    mac: ec:f4:bb:cc:d1:54
  cephmon-03:
    hostgroup: 16
    mac: ec:f4:bb:cc:d0:9c
  cephmon-object-01:
    compute_profile: large
    compute_resource: controller-05
    hostgroup: 15
  cephmon-object-02:
    compute_profile: large
    compute_resource: controller-06
    hostgroup: 15
  cephmon-object-03:
    compute_profile: large
    compute_resource: controller-07
    hostgroup: 15
  compute-01:
    hostgroup: 18
    mac: ec:f4:bb:ce:21:84
  compute-02:
    hostgroup: 18
    mac: ec:f4:bb:cd:a0:94
  compute-03:
    hostgroup: 18
    mac: ec:f4:bb:cd:a0:2c
  compute-04:
    hostgroup: 18
    mac: 18:66:da:82:7e:a8
  compute-05:
    hostgroup: 18
    mac: 18:66:da:82:b5:49
  compute-06:
    hostgroup: 18
    mac: 18:66:da:82:be:7a
  compute-07:
    hostgroup: 18
    mac: 00:0a:f7:79:c5:df
  compute-08:
    hostgroup: 18
    mac: 00:0a:f7:79:c5:e3
  compute-09:
    hostgroup: 18
    mac: 00:0a:f7:82:54:23
  compute-10:
    hostgroup: 18
    mac: 00:0a:f7:79:c5:f3
  compute-alice-11:
    mac: 20:04:0f:ed:9a:7a
    hostgroup: 16
  compute-alice-12:
    mac: 20:04:0f:ed:6f:96
    hostgroup: 16
  compute-alice-13:
    mac: 20:04:0f:ed:67:b6
    hostgroup: 17
  compute-alice-14:
    mac: 20:04:0f:eb:e1:42
    hostgroup: 17
  compute-alice-15:
    mac: 20:04:0f:eb:e2:7e
    hostgroup: 16
  compute-alice-16:
    mac: 20:04:0f:ee:2c:82
    hostgroup: 16
  compute-alice-17:
    mac: 20:04:0f:eb:ee:e6
    hostgroup: 16
  compute-alice-18:
    mac: 20:04:0f:ed:9c:16
    hostgroup: 16
  compute-alice-19:
    mac: 20:04:0f:ed:6c:a6
    hostgroup: 16
  compute-alice-20:
    mac: 20:04:0f:ed:7e:5a
    hostgroup: 16
  compute-alice-21:
    mac: 20:04:0f:ed:6e:d2
    hostgroup: 16
  compute-alice-22:
    mac: 20:04:0f:ed:6d:66
    hostgroup: 16
  compute-alice-23:
    mac: 20:04:0f:ed:9c:0a
    hostgroup: 16
  compute-alice-24:
    mac: 20:04:0f:ed:67:e6
    hostgroup: 16
  compute-alice-25:
    mac: 20:04:0f:ec:05:26
    hostgroup: 16
  compute-alice-26:
    mac: 20:04:0f:ed:65:5a
    hostgroup: 16
  compute-alice-27:
    mac: 20:04:0f:ed:6d:5e
    hostgroup: 16
  compute-alice-28:
    mac: 20:04:0f:ed:67:aa
    hostgroup: 16
  compute-alice-29:
    mac: 20:04:0f:ed:7f:b6
    hostgroup: 16
  compute-alice-30:
    mac: 20:04:0f:ed:9a:a2
    hostgroup: 16
  compute-alice-31:
    mac: 20:04:0f:ed:6d:62
    hostgroup: 16
  compute-alice-32:
    mac: 20:04:0f:ed:99:fe
    hostgroup: 16
  compute-alice-33:
    mac: 20:04:0f:ed:6c:6e
    hostgroup: 16
  compute-alice-34:
    mac: 20:04:0f:ed:6c:9e
    hostgroup: 16
  compute-vgpu-35:
    mac: b0:26:28:f0:b4:58
    hostgroup: 16
  compute-clarino-36:
    mac: f4:02:70:d0:04:ee
    hostgroup: 16
  compute-clarino-37:
    mac: f4:02:70:cd:de:48
    hostgroup: 16
  compute-38:
    mac: dc:f4:01:e7:ea:2e
    hostgroup: 16
  compute-39:
    mac: dc:f4:01:e7:e9:f6
    hostgroup: 16
  compute-40:
    mac: dc:f4:01:e8:1f:92
    hostgroup: 16
  compute-epyc-41:
    mac: f4:02:70:d7:8b:3c
    hostgroup: 16
  compute-epyc-42:
    mac: f4:02:70:d7:8c:76
    hostgroup: 16
  compute-epyc-43:
    mac: f4:02:70:d7:8c:a2
    hostgroup: 16
  compute-epyc-44:
    mac: f4:02:70:d9:6b:da
    hostgroup: 16
  compute-epyc-45:
    mac: f4:02:70:d3:42:02
    hostgroup: 16
  compute-epyc-46:
    mac: f4:02:70:d7:8c:ea
    hostgroup: 16
  compute-epyc-47:
    mac: f4:02:70:d3:42:70
    hostgroup: 16
  compute-epyc-48:
    mac: f4:02:70:d3:42:0c
    hostgroup: 16
  compute-epyc-49:
    mac: f4:02:70:cd:da:de
    hostgroup: 16
  compute-epyc-50:
    mac: f4:02:70:cd:de:86
    hostgroup: 16
  compute-epyc-51:
    mac: f4:02:70:d0:04:e0
    hostgroup: 16
  compute-vgpu-52:
    mac: f0:d4:e2:e6:ae:d2
    hostgroup: 16
  compute-vgpu-53:
    mac: 34:48:ed:f9:59:c2
    hostgroup: 16
  compute-gpu1-54:
    mac: 34:48:ed:f9:5a:de
    hostgroup: 16
  compute-epyc-55:
    mac: 70:b5:e8:d0:b0:a8
    hostgroup: 16
  compute-epyc-56:
    mac: 70:b5:e8:d0:b3:00
    hostgroup: 16
  compute-epyc-57:
    mac: 70:b5:e8:d0:ab:e8
    hostgroup: 16
  compute-58:
    mac: 34:48:ed:f9:6c:02
    hostgroup: 16
  compute-59:
    mac: 34:48:ed:f9:61:8a
    hostgroup: 16
  compute-60:
    mac: 34:48:ed:f9:87:da
    hostgroup: 16
  compute-alice2-61:
    mac: b0:7b:25:f8:6a:8e
    hostgroup: 17
  compute-alice2-62:
    mac: b0:7b:25:f8:6b:54
    hostgroup: 17
  compute-alice2-63:
    mac: b0:7b:25:f8:69:b4
    hostgroup: 16
  compute-alice2-64:
    mac: b0:7b:25:f8:6a:06
    hostgroup: 16
  compute-alice2-65:
    mac: b0:7b:25:f8:6b:46
    hostgroup: 16
  compute-alice2-66:
    mac: b0:7b:25:e9:80:18
    hostgroup: 16
  compute-alice2-67:
    mac: ec:2a:72:0a:4c:e4
    hostgroup: 16
  compute-alice2-68:
    mac: ec:2a:72:0a:4f:48
    hostgroup: 16
  compute-alice2-69:
    mac: ec:2a:72:0a:4f:54
    hostgroup: 16
  compute-alice2-70:
    mac: b0:7b:25:f8:0b:06
    hostgroup: 16
  compute-alice2-71:
    mac: ec:2a:72:10:9f:b2
    hostgroup: 16
  compute-alice2-72:
    mac: ec:2a:72:02:7f:c2
    hostgroup: 16
  compute-alice2-73:
    mac: ec:2a:72:19:48:1e
    hostgroup: 16
  compute-alice2-74:
    mac: ec:2a:72:10:a1:c2
    hostgroup: 16
  compute-alice2-75:
    mac: ec:2a:72:02:84:5a
    hostgroup: 16
  compute-alice2-76:
    mac: ec:2a:72:02:86:96
    hostgroup: 16
  compute-alice2-77:
    mac: ec:2a:72:02:86:7e
    hostgroup: 16
  compute-alice2-78:
    mac: ec:2a:72:02:84:32
    hostgroup: 16
  compute-alice2-79:
    mac: ec:2a:72:19:41:ac
    hostgroup: 16
  compute-alice2-80:
    mac: ec:2a:72:02:86:38
    hostgroup: 16
  compute-81:
    mac: d0:8e:79:c3:d0:d2
    hostgroup: 16
  console-01:
    compute_profile: medium
    compute_resource: controller-05
    hostgroup: 15
#  controller-02:
#    mac: ec:f4:bb:cc:d1:54
#  controller-03:
#    mac: ec:f4:bb:cc:d0:9c
#  controller-04:
#    mac: b0:83:fe:e8:3a:31
  controller-05:
    mac: dc:f4:01:e7:eb:fe
    hostgroup: 16
  controller-06:
    mac: dc:f4:01:e7:ee:4e
    hostgroup: 16
  controller-07:
    mac: dc:f4:01:e7:d8:32
    hostgroup: 16
  controller-08:
    mac: 34:48:ed:f7:8c:86
    hostgroup: 16
  dashboard-01:
    compute_profile: xlarge
    compute_resource: controller-06
    hostgroup: 15
  dashboard-mgmt-01:
    compute_profile: small
    compute_resource: controller-08
    hostgroup: 15
  db-global-01:
    compute_profile: small
    compute_resource: controller-06
    hostgroup: 15
  db-regional-01:
    compute_profile: xlarge
    compute_resource: controller-05
    hostgroup: 15
    compute_attributes:
      volumes_attributes:
        '1':
          allocation:   '0G'
          pool_name:    'dirpool'
          capacity:     '10G'
          format_type:  'qcow2'
    host_parameters_attributes:
      - name:           'installdevice'
        value:          'vda'
  dns-01:
    compute_profile: small
    compute_resource: controller-05
    hostgroup: 15
  identity-01:
    compute_profile: xlarge
    compute_resource: controller-05
    hostgroup: 15
  identity-02:
    compute_profile: xlarge
    compute_resource: controller-06
    hostgroup: 15
  identity-03:
    compute_profile: xlarge
    compute_resource: controller-07
    hostgroup: 15
  image-01:
    compute_profile: medium
    compute_resource: controller-05
    hostgroup: 15
  image-02:
    compute_profile: medium
    compute_resource: controller-06
    hostgroup: 15
  image-03:
    compute_profile: medium
    compute_resource: controller-07
    hostgroup: 15
  logger-01:
    compute_profile: xlarge
    compute_resource: controller-08
    compute_attributes:
      volumes_attributes:
        '1':
          allocation:   '0G'
          pool_name:    'dirpool'
          capacity:     '250G'
          format_type:  'qcow2'
    host_parameters_attributes:
      - name:           'installdevice'
        value:          'vda'
  login-02:
    hostgroup: 15
    compute_profile: small
    compute_resource: controller-08
    compute_attributes:
      volumes_attributes:
        '1':
          allocation:   '0G'
          pool_name:    'dirpool'
          capacity:     '50G'
          format_type:  'qcow2'
    host_parameters_attributes:
      - name:           'installdevice'
        value:          'vda'
  metric-01:
    compute_profile: xlarge
    compute_resource: controller-05
    compute_attributes:
      volumes_attributes:
        '1':
          allocation:   '0G'
          pool_name:    'dirpool'
          capacity:     '20G'
          format_type:  'qcow2'
  monitor-01:
    compute_profile: large
    compute_resource: controller-08
    compute_attributes:
      volumes_attributes:
        '1':
          allocation:   '0G'
          pool_name:    'dirpool'
          capacity:     '20G'
          format_type:  'qcow2'
    host_parameters_attributes:
      - name:           'installdevice'
        value:          'vda'
  mq-01:
    compute_profile: xlarge
    compute_resource: controller-05
    hostgroup: 15
  nat-01:
    compute_profile: small
    compute_resource: controller-05
    hostgroup: 15
  nat-02:
    compute_profile: small
    compute_resource: controller-06
    hostgroup: 15
  nat-03:
    compute_profile: small
    compute_resource: controller-07
    hostgroup: 15
  network-01:
    compute_profile: 2xlarge
    compute_resource: controller-05
    hostgroup: 15
  network-02:
    compute_profile: 2xlarge
    compute_resource: controller-06
    hostgroup: 15
  network-03:
    compute_profile: 2xlarge
    compute_resource: controller-07
    hostgroup: 15
  novactrl-01:
    compute_profile: large
    compute_resource: controller-05
    hostgroup: 15
  novactrl-02:
    compute_profile: large
    compute_resource: controller-06
    hostgroup: 15
  novactrl-03:
    compute_profile: large
    compute_resource: controller-07
    hostgroup: 15
  ns-01:
    compute_profile: small
    compute_resource: controller-06
    hostgroup: 15
  object-ceph-01:
    mac: d0:94:66:09:0d:6c
    hostgroup: 16
  object-ceph-02:
    mac: d0:94:66:09:17:a7
    hostgroup: 16
  object-ceph-03:
    mac: d0:94:66:09:53:bc
    hostgroup: 16
  object-ceph-04:
    mac: d0:94:66:09:2a:b7
    hostgroup: 16
  object-ceph-05:
    mac: d0:94:66:09:41:d5
    hostgroup: 16
  proxy-01:
    compute_profile: small
    compute_resource: controller-08
    compute_attributes:
      volumes_attributes:
        '1':
          allocation:   '0G'
          pool_name:    'dirpool'
          capacity:     '50G'
          format_type:  'raw'
    host_parameters_attributes:
      - name:           'installdevice'
        value:          'vda'
  proxy-02:
    compute_profile: small
    compute_resource: controller-08
    hostgroup: 15
    compute_attributes:
      volumes_attributes:
        '1':
          allocation:   '0G'
          pool_name:    'dirpool'
          capacity:     '50G'
          format_type:  'raw'
    host_parameters_attributes:
      - name:           'installdevice'
        value:          'vda'
  report-01:
    compute_profile: small
    compute_resource: controller-05
  resolver-01:
    compute_profile: small
    compute_resource: controller-07
    hostgroup: 15
  resolver-02:
    compute_profile: small
    compute_resource: controller-08
    hostgroup: 15
  rgw-01:
    compute_profile: medium
    compute_resource: controller-05
    hostgroup: 15
  sec-01:
    compute_profile: small
    compute_resource: controller-08
  status-01:
    compute_profile: small
    compute_resource: controller-06
  storage-01:
    mac: b0:83:fe:cd:64:7c
    hostgroup: 19
  storage-02:
    mac: b0:83:fe:cd:4b:39
    hostgroup: 19
  storage-03:
    mac: b0:83:fe:cd:61:3b
    hostgroup: 19
  storage-04:
    mac: b0:83:fe:cd:61:23
    hostgroup: 19
  storage-05:
    mac: b0:83:fe:cd:44:0f
    hostgroup: 19
  storage-v2d-06:
    mac: d0:94:66:19:c2:39
    hostgroup: 16
  storage-v2d-07:
    mac: d0:94:66:19:c1:eb
    hostgroup: 16
  storage-v2d-08:
    mac: b0:26:28:21:65:cc
    hostgroup: 16
  storage-v2d-09:
    mac: b0:26:28:21:6a:ca
    hostgroup: 16
  storage-dcache-10:
    mac: 20:04:0f:f4:75:a2
    hostgroup: 21
  storage-dcache-11:
    mac: 20:04:0f:f4:6f:fa
    hostgroup: 21
  storage-dcache-12:
    mac: 20:04:0f:f4:75:8e
    hostgroup: 21
  storage-dcache-13:
    mac: 20:04:0f:f4:6f:66
    hostgroup: 21
  storage-dcache-14:
    mac: 20:04:0f:f4:76:66
    hostgroup: 21
  storage-dcache-15:
    mac: 20:04:0f:f4:98:42
    hostgroup: 21
  storage-dcache-16:
    mac: 20:04:0f:f4:91:22
    hostgroup: 21
  storage-dcache-17:
    mac: 20:04:0f:f4:77:52
    hostgroup: 21
  storage-dcache-18:
    mac: 20:04:0f:f4:95:12
    hostgroup: 21
  storage-dcache-19:
    mac: 20:04:0f:f4:94:76
    hostgroup: 21
  storage-dcache-20:
    mac: 20:04:0f:ee:49:ee
    hostgroup: 21
  storage-dcache-21:
    mac: 20:04:0f:f4:78:0e
    hostgroup: 21
  storage-dcache-22:
    mac: 20:04:0f:f4:78:4e
    hostgroup: 21
  storage-dcache-23:
    mac: 20:04:0f:f4:78:1a
    hostgroup: 21
  storage-dcache-24:
    mac: 20:04:0f:f2:6c:22
    hostgroup: 21
  storage-dcache-25:
    mac: 20:04:0f:f4:96:0e
    hostgroup: 21
  storage-dcache-26:
    mac: 20:04:0f:f4:77:1e
    hostgroup: 21
  storage-dcache-27:
    mac: 20:04:0f:f4:77:2a
    hostgroup: 21
  storage-dcache-28:
    mac: 20:04:0f:f4:76:d2
    hostgroup: 21
  storage-dcache-29:
    mac: 20:04:0f:f4:94:02
    hostgroup: 21
  storage-dcache-30:
    mac: 20:04:0f:f4:76:d6
    hostgroup: 21
  storage-dcache-31:
    mac: 20:04:0f:f4:90:b2
    hostgroup: 21
  storage-dcache-32:
    mac: 20:04:0f:f4:78:2a
    hostgroup: 21
  storage-dcache-33:
    mac: 20:04:0f:f4:78:12
    hostgroup: 21
  storage-dcache-34:
    mac: 20:04:0f:f4:76:ca
    hostgroup: 21
  storage-v2d-35:
    mac: 20:04:0f:fb:a5:42
    hostgroup: 16
  storage-v2d-36:
    mac: 20:04:0f:fb:b2:c2
    hostgroup: 16
  storage-v2d-37:
    mac: 20:04:0f:fb:b3:5e
    hostgroup: 16
  storage-v2d-38:
    mac: 20:04:0f:fb:b3:5a
    hostgroup: 16
  storage-v2d-39:
    mac: 20:04:0f:fb:a5:46
    hostgroup: 16
  storage-v2d-40:
    mac: 34:48:ed:f9:84:d2
    hostgroup: 16
  storage-v2d-41:
    mac: 34:48:ed:f9:84:f2
    hostgroup: 16
  storage-v2d-42:
    mac: 34:48:ed:f9:5d:e2
    hostgroup: 16
  storage-v2d-43:
    mac: 34:48:ed:f9:58:b2
    hostgroup: 16
  storage-dcache2-44:
    mac: e4:3d:1a:24:6a:b7
    hostgroup: 21
  storage-dcache2-45:
    mac: e4:3d:1a:24:82:7b
    hostgroup: 21
  storage-dcache2-46:
    mac: e4:3d:1a:24:87:87
    hostgroup: 21
  storage-dcache2-47:
    mac: e4:3d:1a:24:82:77
    hostgroup: 21
  storage-dcache2-48:
    mac: e4:3d:1a:24:7c:43
    hostgroup: 21
  storage-dcache2-49:
    mac: e4:3d:1a:24:8c:9b
    hostgroup: 21
  storage-dcache2-50:
    mac: e4:3d:1a:24:8c:a7
    hostgroup: 21
  storage-dcache2-51:
    mac: e4:3d:1a:24:76:5b
    hostgroup: 21
  storage-dcache2-52:
    mac: e4:3d:1a:24:8a:a7
    hostgroup: 21
  storage-dcache2-53:
    mac: e4:3d:1a:24:8b:a7
    hostgroup: 21
  storage-dcache2-54:
    mac: e4:3d:1a:24:7c:6f
    hostgroup: 21
  storage-dcache2-55:
    mac: e4:3d:1a:f8:64:73
    hostgroup: 21
  storage-dcache2-56:
    mac: e4:3d:1a:f8:5d:af
    hostgroup: 21
  storage-dcache2-57:
    mac: e4:3d:1a:f8:37:7b
    hostgroup: 21
  storage-dcache2-58:
    mac: e4:3d:1a:f8:50:5f
    hostgroup: 21
  storage-dcache2-59:
    mac: e4:3d:1a:f8:4e:ab
    hostgroup: 21
  storage-dcache2-60:
    mac: e4:3d:1a:f8:72:3b
    hostgroup: 21
  storage-dcache2-61:
    mac: e4:3d:1a:f8:4d:eb
    hostgroup: 21
  storage-dcache2-62:
    mac: e4:3d:1a:f8:68:8b
    hostgroup: 21
  storage-dcache2-63:
    mac: e4:3d:1a:f8:67:b3
    hostgroup: 21
  storage-dcache2-64:
    mac: e4:3d:1a:f8:39:bf
    hostgroup: 21
  storage-dcache2-65:
    mac: e4:3d:1a:24:7e:6f
    hostgroup: 21
  storage-dcache2-66:
    mac: e4:3d:1a:24:74:13
    hostgroup: 21
  storage-dcache2-67:
    mac: e4:3d:1a:24:8d:2b
    hostgroup: 21
  storage-dcache2-68:
    mac: e4:3d:1a:24:83:87
    hostgroup: 21
  telemetry-01:
    compute_profile: xlarge
    compute_resource: controller-05
  volume-01:
    compute_profile: large
    compute_resource: controller-05
    hostgroup: 15
  volume-02:
    compute_profile: large
    compute_resource: controller-06
    hostgroup: 15
  volume-03:
    compute_profile: large
    compute_resource: controller-07
    hostgroup: 15
